{% extends 'blog/base.html' %}
{% block content %}

   
		
		<div class=' column main'>
			<div><b>Profile update</b></div>
				<form method="post" novalidate enctype="multipart/form-data">
  			{% csrf_token %}

			{% for hidden_field in u_form.hidden_fields %}
    		{{ hidden_field }}
  			{% endfor %}

  			{% for field in u_form.visible_fields %}
    		<div class="form-group">
      			<div class='label'>{{ field.label_tag }}</div>
      			<div class='field'>{{ field }}</div>
            <small style="color: red">{{ field.errors }}</small>
				
				<div class='help'>
      			{% if field.help_text %}
        			<small class="smalltext">{{ field.help_text }}</small>
      			{% endif %}
      			</div>

    		</div>
  			{% endfor %}

			<br><br>

  		
			<div><input type="submit" name="aricle_b" value="Update"></div>	
		</div>	
	</form>
	
{% endblock content %}

